.title{
    width: 100%;
    height: 450px;
    background-image: url(../images/shop/a1.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
}
.title-T{
    position: absolute;
    text-align: center;
    width: inherit;
    font-size: 2rem;
    line-height: 450px;
}

.about-main{
    width: 100%;
    height: auto;
}
.about-main-son{
    width: inherit;
    height: auto;
    clear: both;
    overflow: hidden;
}
.about-main-left{
    float: left;
    width: 40%;
    height: 800px;
}
.left-vx{
    text-align: center;
    height: inherit;
    padding: 50% 0;
}
.left-vx img{
    height: 150px;
}
.left-vx p{
    color: #999;
}
.about-main-right{
    float: left;
    width: 60%;
    height: 800px;
}
.content{
    width: 100%;
    height: inherit;
    padding: 20% 5% 10% 0;
    color: #666;
    line-height: 30px;
    letter-spacing: 1px;
}




@media(max-width:768px){

    .about-main-left,.about-main-right{
        width: 100%;
        clear: both;
        height: auto;
    }
    .left-vx{
        padding: 20px 0;
    }
    .content{
        padding: 20px 15px;
    }


}


@media(max-width:480px){
    
}