#canvas{ width: 100%; height: 100%;z-index: -1; position: fixed;}
nav{
    background-color: rgba(255, 255, 255,0);
    box-shadow:none;
}
.login_main{
    width: 50%;
    margin: 0 auto;
}
.login_body{
    width: 60%;
    margin: 0 auto;
}
.margin-top{
    margin-top: 25%;
}

.login_body_register{

    width: 60%;
    margin: 0 auto;
    display: none;
    
}
#Verification_Code{
    cursor: pointer;
}

.Together{
    border-bottom: 1px solid red !important;
    box-shadow: 0 1px 0 0 red !important;
}
.Shopping-ul{

    background-color: white;
}
.Shopping-ul li{
    padding: 20px;
    border: 1px solid rgb(238, 236, 236);
}



@media(max-width:768px){

    .login_body,.login_body_register{
        width: 100%;
    }


}

@media(max-width:480px){

    .login_main{
        width: 100%;
    }
    #canvas{
        display: none;
    }

}